---
layout: page
title: BYU DBF Team
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">BYU AERONAUTICS<br> DESIGN BUILD FLY TEAM</h1>
          <p class="animated fadeInUp">Check out what BYU's AIAA DBF competition team is up to.
              <br>We're always looking for new, talented team members.</p>
          <a class="animated fadeInUpBig btn btn-default btn-wow" href="https://forms.gle/cVSoxY7EwWDKEFbEA">APPLY NOW!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p></p>
          </div>
          <p>Our full name is: The Brigham Young Univeristy Aeronautics Club American Institute of Aeronautics and Astronautics Design Build Fly Competition Team.  We are a subset of the <a href="https://aeronautics.byu.edu/">BYU Aeronautics Club</a> that participates in the <a href="https://www.aiaa.org/dbf/">AIAA DBF competition</a> each year.  Our team is a great place to get involved in all aspects of small, fixed-wing UAV design, manufacture, and piloting; not to mention a great addition to your resume.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/PaperAirplaneblur.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Values Start -->
<section id="service">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Our Values</h2>
          <p>We pride ourselves on providing opporunities for enhancing leadership skills at all levels of participation.  Our main focuses are:</p>
        </div>
      </div>
      <div class="row ">
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary"></i>
                  <h3>Excellent Engineering</h3>
                  <p class="text-muted">Every problem has a solution.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Effetive Teamwork</h3>
                  <p class="text-muted">No engineer left behind!</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <h3>Clear Communication</h3>
                  <p class="text-muted">Not just for English majors.</p>
              </div>
          </div>
      </div>
    </div>
  </section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6" style="background-color:rgba(255,255,255,0.85); border-radius: 5px;padding-bottom: 20px;">
      <h2>WE DO IT ALL</h2>
      <p>When we say all aspects of small, fixed-wing UAVs, we mean it.  We've got aerodynamics, structures, manufacturing, graphics, propulsion, electronics, systems, piloting, and more!</p>
      <p>With so much going on, it's hard to keep track, which is why we implement a leadership structure that includes a variety of sub teams. Each year we make small modificiations to the overall team structure depending on specific needs and challenges for the year's competition, but overall we keep things in the same few divisions.</p>
      <p>Take a gander and the various sub team specialties we have on the team; we're sure you'll find something that peaks your interest.</p>
      <a href="{{ site.baseurl }}/teams" class="btn btn-view-works">View Specialties</a>
    </div>
  </div>
</div>
</section>


<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We are looking for new team members!</h2>
          <p>If you've liked what you've seen, and you're interested in learning more about joining the DBF Team, click below to fill out a quick application and someone on the team will reach out to you shortly.</p>
          <a class="btn btn-default btn-call-to-action" href="https://forms.gle/cVSoxY7EwWDKEFbEA" >APPLY NOW!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
