<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="https://aeronautics.byu.edu/">BYU Aeronautics Club</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#welcome"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#values">Values</a>
                </li>
                <li>
                    <a class="page-scroll" href="#subteams">Sub Teams</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Past Projects</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <div class="dropdown">
                    <button class="dropbtn">Guides
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="https://aeronautics.byu.edu/DBF-guides/">DBF Guides</a>
                      <a href="https://aeronautics.byu.edu/fundamentals/">Fundamentals</a>
                    </div>
                  </div>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
